<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="_fragments :: head-content"></head>
<body>
<h1 th:replace="_fragments :: headline"></h1>
<div class="wrapper menu-card">
    <div class="row">
        <div><h2>Our Menu</h2></div>
        <div><a th:href="@{/orders}" class="button"><span class="left fas fa-cart-shopping"></span>Order now!</a></div>
    </div>
    <div>
        <ul class="menu-items">
            <li th:each="menuItem : ${menuItems}" class="menu-item">
                <span th:class="'left fas ' + ${menuItem.drink ? 'drink fa-glass-whiskey' : 'food fa-utensils'}"></span>[[${menuItem.name}]]
            </li>
        </ul>
    </div>
</div>
<script th:replace="_fragments :: scripts"/>
</body>
</html>